# **Dataset 1** Data Cleaning

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data_frame= pd.read_csv("/content/Data-cleaning-for-beginners-using-pandas.csv")

In [ ]:
data_frame.head()

   Index   Age     Salary  Rating       Location  Established Easy Apply
0      0  44.0  $44k-$99k     5.4       India,In         1999       TRUE
1      1  66.0  $55k-$66k     3.5    New York,Ny         2002       TRUE
2      2   NaN  $77k-$89k    -1.0    New York,Ny           -1         -1
3      3  64.0  $44k-$99k     4.4       India In         1988         -1
4      4  25.0  $44k-$99k     6.4  Australia Aus         2002         -1

In [ ]:
data_frame.shape

(29, 7)

In [ ]:
data_frame.describe()  #Describing will help to find if data is missing in any column. As we can see, Age has missing values

           Index        Age     Rating  Established
count  29.000000  22.000000  28.000000    29.000000
mean   14.000000  39.045455   3.528571  1638.620690
std     8.514693  16.134781   2.825133   762.079599
min     0.000000  13.000000  -1.000000    -1.000000
25%     7.000000  25.000000   1.050000  1935.000000
50%    14.000000  39.500000   4.200000  1984.000000
75%    21.000000  50.000000   5.400000  1999.000000
max    28.000000  66.000000   7.800000  2020.000000

In [ ]:
data_frame.info()  #We can find the data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Index        29 non-null     int64
 1   Age          22 non-null     float64
 2   Salary       29 non-null     object
 3   Rating       28 non-null     float64
 4   Location     29 non-null     object
 5   Established  29 non-null     int64
 6   Easy Apply   29 non-null     object
dtypes: float64(2), int64(2), object(3)
memory usage: 1.7+ KB

In [ ]:
data_frame.isna().sum() #Here also we can see Age and Rating have missing values

Index          0
Age            7
Salary         0
Rating         1
Location       0
Established    0
Easy Apply     0
dtype: int64

In [ ]:
data_frame.columns

Index(['Index', 'Age', 'Salary', 'Rating', 'Location', 'Established',
       'Easy Apply'],
      dtype='object')

In [ ]:
data_frame.columns = data_frame.columns.str.lower().str.replace(" ", "_")
data_frame

    index   age      salary  rating       location  established easy_apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2   NaN   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12   NaN   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17   NaN   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20   NaN   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23   NaN   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26   NaN   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28   NaN   $39k-$88k     3.4  Australia Aus         1932         -1


**Cleaning Age Column**

In [ ]:
age_mean= data_frame["age"].mean()

In [ ]:
data_frame["age"]= data_frame["age"].fillna(age_mean).round(decimals=1)
data_frame

    index   age      salary  rating       location  established easy_apply
0       0  44.0   $44k-$99k     5.4       India,In         1999       TRUE
1       1  66.0   $55k-$66k     3.5    New York,Ny         2002       TRUE
2       2  39.0   $77k-$89k    -1.0    New York,Ny           -1         -1
3       3  64.0   $44k-$99k     4.4       India In         1988         -1
4       4  25.0   $44k-$99k     6.4  Australia Aus         2002         -1
5       5  44.0   $77k-$89k     1.4       India,In         1999       TRUE
6       6  21.0   $44k-$99k     0.0    New York,Ny           -1         -1
7       7  44.0   $44k-$99k    -1.0  Australia Aus           -1         -1
8       8  35.0   $44k-$99k     5.4    New York,Ny           -1         -1
9       9  22.0   $44k-$99k     7.7       India,In           -1       TRUE
10     10  55.0   $10k-$49k     5.4       India,In         2008       TRUE
11     11  44.0   $10k-$49k     6.7       India,In         2009         -1
12     12  39.0   $44k-$99k     0.0       India,In         1999         -1
13     13  25.0   $44k-$99k    -1.0  Australia Aus         2019       TRUE
14     14  66.0   $44k-$99k     4.0  Australia Aus         2020       TRUE
15     15  44.0  $88k-$101k     3.0  Australia Aus         1999         -1
16     16  19.0   $19k-$40k     4.5       India,In         1984         -1
17     17  39.0   $44k-$99k     5.3    New York,Ny         1943       TRUE
18     18  35.0   $44k-$99k     6.7    New York,Ny         1954       TRUE
19     19  32.0   $44k-$99k     3.3    New York,Ny         1955       TRUE
20     20  39.0   $44k-$99k     5.7    New York,Ny         1944       TRUE
21     21  35.0   $44k-$99k     5.0    New York,Ny         1946         -1
22     22  19.0   $55k-$66k     7.8    New York,Ny         1988       TRUE
23     23  39.0   $44k-$99k     2.4    New York,Ny         1999       TRUE
24     24  13.0   $44k-$99k    -1.0    New York,Ny         1987         -1
25     25  55.0   $44k-$99k     0.0  Australia Aus         1980       TRUE
26     26  39.0   $55k-$66k     NaN       India,In         1934       TRUE
27     27  52.0   $44k-$99k     5.4       India,In         1935         -1
28     28  39.0   $39k-$88k     3.4  Australia Aus         1932         -1

In [ ]:
data_frame["age"].isna().sum()

0

In [ ]:
data_frame["age"]= data_frame["age"].astype(int)

**Cleaning Salary Column**

In [ ]:
data_frame["salary"]= data_frame["salary"].apply(lambda x:x.replace("$", "").replace("k", "000"))

In [ ]:
data_frame["salary"]

0      44000-99000
1      55000-66000
2      77000-89000
3      44000-99000
4      44000-99000
5      77000-89000
6      44000-99000
7      44000-99000
8      44000-99000
9      44000-99000
10     10000-49000
11     10000-49000
12     44000-99000
13     44000-99000
14     44000-99000
15    88000-101000
16     19000-40000
17     44000-99000
18     44000-99000
19     44000-99000
20     44000-99000
21     44000-99000
22     55000-66000
23     44000-99000
24     44000-99000
25     44000-99000
26     55000-66000
27     44000-99000
28     39000-88000
Name: salary, dtype: object

In [ ]:
data_frame.head()

   index  age       salary  rating       location  established easy_apply
0      0   44  44000-99000     5.4       India,In         1999       TRUE
1      1   66  55000-66000     3.5    New York,Ny         2002       TRUE
2      2   39  77000-89000    -1.0    New York,Ny           -1         -1
3      3   64  44000-99000     4.4       India In         1988         -1
4      4   25  44000-99000     6.4  Australia Aus         2002         -1

**Cleaning Rating Column**

In [ ]:
data_frame["rating"].isna().sum()

1

In [ ]:
#We can also observe some -1 values which is not valid, cleaning up that first:

In [ ]:
data_frame["rating"]= data_frame["rating"].replace(-1, 0)

In [ ]:
rating_mean= data_frame["rating"].mean()
data_frame["rating"]= data_frame["rating"].fillna(rating_mean)

In [ ]:
data_frame["rating"].head()

0    5.4
1    3.5
2    0.0
3    4.4
4    6.4
Name: rating, dtype: float64

In [ ]:
data_frame["rating"].isna().sum()

0

In [ ]:
data_frame["rating"].round(decimals=2)

0     5.40
1     3.50
2     0.00
3     4.40
4     6.40
5     1.40
6     0.00
7     0.00
8     5.40
9     7.70
10    5.40
11    6.70
12    0.00
13    0.00
14    4.00
15    3.00
16    4.50
17    5.30
18    6.70
19    3.30
20    5.70
21    5.00
22    7.80
23    2.40
24    0.00
25    0.00
26    3.67
27    5.40
28    3.40
Name: rating, dtype: float64

**Cleaning the Location Column**

In [ ]:
data_frame["location"].head()

0         India,In
1      New York,Ny
2      New York,Ny
3         India In
4    Australia Aus
Name: location, dtype: object

In [ ]:
data_frame["location"]=data_frame["location"].str.replace("Autralia Aus", "Australia, Aus")
data_frame["location_city"]=data_frame["location"].str.split(",", expand=True).get(0)
data_frame["city_sign"]=data_frame["location"].str.split(",", expand=True).get(1)
data_frame.drop("location", inplace=True, axis=1)

In [ ]:
data_frame.head()

,index,age,salary,rating,established,easy_apply,location_city,city_sign
0,0,44,44000-99000,5.4,1999.0,TRUE,India,In
1,1,66,55000-66000,3.5,2002.0,TRUE,New York,Ny
2,2,39,77000-89000,0.0,Unknown,-1,New York,Ny
3,3,64,44000-99000,4.4,1988.0,-1,India In,None
4,4,25,44000-99000,6.4,2002.0,-1,Australia Aus,None

**Cleaning the established column**

In [ ]:
data_frame["established"]= data_frame["established"].replace(-1, np.nan)
data_frame["established"]  #We have replaced the -1 with nan and then nan with unknown as avg or median cannot for taken for this column

0     1999.0
1     2002.0
2        NaN
3     1988.0
4     2002.0
5     1999.0
6        NaN
7        NaN
8        NaN
9        NaN
10    2008.0
11    2009.0
12    1999.0
13    2019.0
14    2020.0
15    1999.0
16    1984.0
17    1943.0
18    1954.0
19    1955.0
20    1944.0
21    1946.0
22    1988.0
23    1999.0
24    1987.0
25    1980.0
26    1934.0
27    1935.0
28    1932.0
Name: established, dtype: float64

In [ ]:
data_frame["established"].fillna("Unknown", inplace=True)
data_frame["established"]

0      1999.0
1      2002.0
2     Unknown
3      1988.0
4      2002.0
5      1999.0
6     Unknown
7     Unknown
8     Unknown
9     Unknown
10     2008.0
11     2009.0
12     1999.0
13     2019.0
14     2020.0
15     1999.0
16     1984.0
17     1943.0
18     1954.0
19     1955.0
20     1944.0
21     1946.0
22     1988.0
23     1999.0
24     1987.0
25     1980.0
26     1934.0
27     1935.0
28     1932.0
Name: established, dtype: object

**Cleaning the Easy Apply Column**

In [ ]:
data_frame["easy_apply"]= data_frame["easy_apply"].replace("-1", "False").replace("TRUE", "True")

In [ ]:
data_frame["easy_apply"]

0      True
1      True
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9      True
10     True
11    False
12    False
13     True
14     True
15    False
16    False
17     True
18     True
19     True
20     True
21    False
22     True
23     True
24    False
25     True
26     True
27    False
28    False
Name: easy_apply, dtype: object

In [ ]:
data_frame["easy_apply"]= data_frame["easy_apply"].astype(bool) #changing the type of data in Easy apply to bool to classify as True or False.

In [ ]:
data_frame["easy_apply"].dtype

dtype('bool')